{
  "trailingComma": "es5",
  "singleQuote": true,
  "printWidth": 120,
  "endOfLine": "auto",
  "arrowParens": "avoid",
  "overrides": [
    {
      "files": "{**/*,*}.{js,jsx,ts,tsx,json,md,mdx}",
      "excludeFiles": [
        "**/node_modules/**",
        "**/dist/**",
        "**/build/**",
        "**/coverage/**",
        "**/public/**",
        "**/*.d.ts"
      ],
      "options": { "requirePragma": false }
    }
  ]
}
