.container_user_page {
    width: 100%;
    padding: 0 0 100px;
}

.container_section {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 20px;
}

@media (max-width: 600px) {
    .container_section {
        flex-direction: column;
        align-items: center;
    }
}