.header {
    display: flex;
    align-items: center;
    width: 100%;
    height: 68px;
    margin-top: 50px;
}
.link {
    text-decoration: none;
}
.label {
    font-size: 20px;
    font-weight: 600;
    color: #595959;
    cursor: pointer;
}

.box_icon {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 5px;
}
.back_icon {
    width: 28px;
    height: 28px;
    cursor: pointer;
}